mkdir /data/misc/sensors 0664 system system

service msensord /vendor/bin/msensord
    user system
    group system
    oneshot

service akmd8963 /vendor/bin/akmd8963
    disabled
    user system
    group system


on post-fs





    chown bluetooth net_bt_stack /dev/stpbt



on boot




