on post-fs-data
    # create basic filesystem structure
    # We chown/chmod /mnt/vendor/nvdata again so because mount is run as root + defaults
    chown root system /mnt/vendor/nvdata
    chmod 2771 /mnt/vendor/nvdata
    mkdir /mnt/vendor/nvdata/media 0771 media audio

    # Set SELinux security contexts on upgrade or policy update.
    restorecon_recursive /mnt/vendor/nvdata
