# MTK platform .rc configure

import /vendor/etc/init/hw/init.connectivity.rc
import /vendor/etc/init/hw/init.mt8695.usb.rc
import /vendor/etc/init/hw/init.project.rc
import /FWUpgradeInit.rc
import /vendor/etc/init/hw/init.aee.rc
import /system/etc/init/hw/init.aee.rc
#import ${ro.vendor.rc}init.volte.rc
#import ${ro.vendor.rc}init.mal.rc
import /vendor/etc/init/hw/init.nvdata.rc
#import ${ro.vendor.rc}init.sensor_1_0.rc

# init.modem.rc must be the LAST rc file because vold.post_fs_data_done is set in it
# import ${ro.vendor.rc}init.modem.rc
# *** DO NOT import the new rc file after this line ***

on early-init
    mount debugfs debugfs /sys/kernel/debug
    chmod 0755 /sys/kernel/debug
on init
    # Support legacy paths
    symlink /sdcard /mnt/sdcard

    # if primary storage is physical, set ro.vold.primary_physical to 1
    # setprop ro.vold.primary_physical 1

    # BATTERY proc
    chown shell system /proc/mtk_battery_cmd/current_cmd
    chown shell system /proc/mtk_battery_cmd/discharging_cmd

# Temp Backward compatibility
    symlink /dev/block/platform/bootdevice/by-name/boot /dev/bootimg
    symlink /dev/block/platform/bootdevice/by-name/recovery /dev/recovery
    symlink /dev/block/platform/bootdevice/by-name/secro  /dev/sec_ro
    symlink /dev/block/platform/bootdevice/by-name/kb /dev/kb
    symlink /dev/block/platform/bootdevice/by-name/dkb /dev/dkb
    symlink /dev/block/platform/bootdevice/by-name/seccfg /dev/seccfg
    symlink /dev/block/platform/bootdevice/by-name/logo /dev/logo
    symlink /dev/block/platform/bootdevice/by-name/misc2 /dev/misc2

    mkdir /protect_f 0771 system system
    mkdir /protect_s 0771 system system	
    #create mountpoint for persist partition
    mkdir /mnt/vendor/persist 0771 system system
# Create CIP mount point
    mkdir /mnt/vendor/custom

    mkdir /mnt/cd-rom 0000 system system

# Change ION driver permission
    chmod 0666 /dev/ion

# change lk_env permission
    chown root system /proc/lk_env
    chmod 0660 /proc/lk_env

# mount different fs start

on charger
    symlink /dev/block/platform/soc/11230000.mmc /dev/block/platform/bootdevice
    # mount ext4 /dev/block/platform/bootdevice/by-name/system /system ro wait
    mount ext4 /dev/block/mntlblk_d1  /system ro wait
    start kpoc_charger

    chown system system /sys/class/leds/lcd-backlight/brightness
    chown system system /sys/class/leds/red/brightness
    chown system system /sys/class/leds/green/brightness

    start servicemanager
    start hwservicemanager
    start light-hal-2-0

    # disable USB
    write /sys/devices/platform/mt_usb/cmode 0

on fs
    write /proc/bootprof "INIT:Mount_START"
    symlink /dev/block/platform/soc/11230000.mmc /dev/block/platform/bootdevice
    exec /system/bin/resize2fs -f /dev/block/platform/bootdevice/by-name/userdata
    mount_all /vendor/etc/fstab.mt8695
    write /proc/bootprof "INIT:Mount_END"
    write /proc/sys/vm/page-cluster 0
    swapon_all /vendor/etc/fstab.mt8695

on fs

   mount iso9660 loop@/vendor/etc/iAmCdRom.iso /mnt/cd-rom ro

on post-fs
    # Support legacy paths
    symlink /sdcard /storage/sdcard0

    #change permissions for mediaserver
    chown root media /proc/clkmgr/mipi_test

    #change permission for engineer mode
    chown radio system /proc/clkmgr/pll_test
    chown radio system /proc/clkmgr/pll_fsel
    chmod 0664 /proc/clkmgr/pll_test
    chmod 0664 /proc/clkmgr/pll_fsel
    #change permission for engineer mode
    chown radio system /proc/freqhopping/dramc
    chown radio system /proc/freqhopping/dumpregs
    chown radio system /proc/freqhopping/freqhopping_debug
    chown radio system /proc/freqhopping/status
    chown radio system /proc/freqhopping/userdef

    # Support A/B feature for emmc boot region
    #symlink /dev/block/sda /dev/block/mmcblk0boot0
    #symlink /dev/block/sdb /dev/block/mmcblk0boot1
    #symlink /dev/block/mmcblk0boot0 /dev/block/platform/bootdevice/by-name/preloader_a
    #symlink /dev/block/mmcblk0boot1 /dev/block/platform/bootdevice/by-name/preloader_b

# change owner
    chown system system /proc/bootprof
    chown root system /proc/mtprof/cputime
    chown root system /proc/mtprof/reboot_pid

    chown system system /protect_f
    chmod 0770 /protect_f

    chown system system /protect_s
    chmod 0770 /protect_s
	
on post-fs-data
    # Stop the console notification
	stop console

    start devcfg
    chown system system /mnt/vendor/persist
    chmod 0771 /mnt/vendor/persist


    chmod 0660 /data/misc/wifi/p2p_supplicant.conf

    #give system access to rfkill device node
    chmod 0660 /dev/rfkill

    # create for muxd pts device node , to operate without root
    mkdir /dev/radio 0770 radio radio

    mkdir /data/drm/wv 0770 drm system

    # NFC
    mkdir /data/nfc_socket 0771 nfc radio

# -----------------------
# Add by MTK
    # md32 boot
    chown root system /dev/md32
    chmod 0440 /dev/md32
    chown root system /sys/class/misc/md32/md32_mobile_log
    chmod 0660 /sys/class/misc/md32/md32_mobile_log
    write /sys/class/misc/md32/md32_boot 1

    # dhcp server
    mkdir /data/misc/dhcp 0770 dhcp wifi
    chown dhcp wifi /data/misc/dhcp

    # dhcpv6 server
    mkdir /data/misc/wide-dhcpv6 0770 dhcp wifi
    chown dhcp wifi /data/misc/wide-dhcpv6

    mkdir /persistbackup
    chmod 0771 /persistbackup
    chown system system /persistbackup

    # radvd
    mkdir /data/misc/radvd 0770 system system
    chmod 444 /etc/radvd/radvd.conf

    # Mali 3D GPU driver
    #insmod /vendor/lib/modules/mali.ko
    chmod 666 /dev/mali0
    #chown system graphics /dev/mali

    # change key_provisioning
    mkdir /data/key_provisioning
    chmod 0770 /data/key_provisioning
    chown system system /data/key_provisioning

    # playready data and control dirs
    mkdir /data/playready 0770 drm drmrpc

    # create directory for storing securely securetime data
    mkdir /data/securetime 0770 media mediadrm
   
    #Create cct mount point
    mkdir /mnt/vendor/cct
    chown root system /mnt/vendor/cct
    chmod 0771 /mnt/vendor/cct    
    
    
    # Touch Panel
    # chmod 0664 /dev/touch
    chown root diag /sys/module/tpd_setting/parameters/tpd_calmat
    chown root diag /sys/module/tpd_setting/parameters/tpd_em_debounce_time
    chown root diag /sys/module/tpd_setting/parameters/tpd_mode
    chown root diag /sys/module/tpd_setting/parameters/tpd_em_debounce_time0
    chown root diag /sys/module/tpd_setting/parameters/tpd_em_debounce_time1
    chown root diag /sys/module/tpd_setting/parameters/tpd_em_spl_num
    chown root diag /sys/module/tpd_setting/parameters/tpd_em_pressure_threshold
    chown root diag /sys/module/tpd_setting/parameters/tpd_em_auto_time_interval
    chown root diag /sys/module/tpd_setting/parameters/tpd_em_sample_cnt
    chown root diag /sys/module/tpd_setting/parameters/tpd_em_asamp
    chown root diag /sys/module/tpd_debug/parameters/tpd_em_log
    chown root diag /sys/module/tpd_debug/parameters/tpd_em_log_to_fs

    chmod 0666 /dev/pmem_multimedia

    # watch dog kicker
    write /proc/wdk "0 20"	
	
    # set ptmx group to non-root
    chown root radio /dev/ptmx

    # RTC
    mkdir /data/misc/rtc 0770 system system

    # M4U
    #insmod /vendor/lib/modules/m4u.ko
    chmod 0444 /dev/m4u
    #chown system media /dev/M4U_device

    #set mlock limit to infinate (for m4u operation)
    setrlimit 8 -1 -1

    # CMDQ
    chmod 0644 /dev/mtk_cmdq
    chown system system /dev/mtk_cmdq


    #Accdet
    chown root radio /sys/devices/platform/Accdet_Driver/driver/accdet_call_state

    #VideoCodec
    #insmod /vendor/lib/modules/vcodec_kernel_driver.ko
    chmod 0660 /dev/Vcodec
    chown media system /dev/Vcodec
    chmod 0660 /dev/Vcodec1
    chown media system /dev/Vcodec1
	
    #MJC
    #insmod /vendor/lib/modules/mjc_kernel_driver.ko
    chmod 0660 /dev/MJC
    chown media system /dev/MJC

    ##Video quality
    chmod 0660 /dev/mtk_vq_mgr
    chown media system /dev/mtk_vq_mgr
	
    #kpd
    chown radio radio /sys/devices/platform/mtk-kpd/driver/kpd_call_state

    #Charging Battery
    chown radio radio /sys/devices/platform/battery/Charging_CallState

    # PMIC property
    chown radio system /sys/devices/platform/mt-pmic/low_battery_protect_stop
    chown radio system /sys/devices/platform/mt-pmic/low_battery_protect_ut

    chown system /sys/class/input/input1/enable
    chown system /sys/class/input/input1/delay
    chown system /sys/class/input/input1/wake
    chown system /sys/class/input/input1/offsets
    chown system /sys/class/input/input2/enable
    chown system /sys/class/input/input2/delay
    chown system /sys/class/input/input2/wake
    chown system /sys/class/input/input2/offsets
    chown system /sys/class/input/input3/enable
    chown system /sys/class/input/input3/delay
    chown system /sys/class/input/input3/wake
    chown system /sys/class/input/input3/offsets
    chown system /sys/class/input/input4/enable
    chown system /sys/class/input/input4/delay
    chown system /sys/class/input/input4/wake
    chown system /sys/class/input/input4/offsets
    chown system /sys/class/input/input5/enable
    chown system /sys/class/input/input5/delay
    chown system /sys/class/input/input5/wake
    chown system /sys/class/input/input5/offsets
    chown system /sys/class/input/input6/enable
    chown system /sys/class/input/input6/delay
    chown system /sys/class/input/input6/wake
    chown system /sys/class/input/input6/offsets
    chown system /sys/class/input/input7/enable
    chown system /sys/class/input/input7/delay
    chown system /sys/class/input/input7/wake
    chown system /sys/class/input/input7/offsets
    chown system /sys/class/input/input8/enable
    chown system /sys/class/input/input8/delay
    chown system /sys/class/input/input8/wake
    chown system /sys/class/input/input8/offsets
    chown system /sys/class/input/input9/enable
    chown system /sys/class/input/input9/delay
    chown system /sys/class/input/input9/wake
    chown system /sys/class/input/input9/offsets
    chown system /sys/class/input/input10/enable
    chown system /sys/class/input/input10/delay
    chown system /sys/class/input/input10/wake
    chown system /sys/class/input/input10/offsets

    #EM eint
    chown root diag /sys/bus/platform/drivers/eint/current_eint

    # Display
    chmod 0660 /dev/graphics/fb0
    chown system graphics /dev/graphics/fb0

    chmod 0660 /dev/mtk_disp_mgr
    chown system graphics /dev/mtk_disp_mgr

    chmod 0660 /dev/mtkfb_vsync
    chown system graphics /dev/mtkfb_vsync

    chmod 0660 /dev/sw_sync
    chown system graphics /dev/sw_sync

	chmod 0666 /dev/mdp_device
    chown system graphics /dev/mdp_device

    chmod 0660 /dev/mtk_stc
    chown system media /dev/mtk_stc	
    # EM baseband file
    chown root diag /vendor/bin/baseband_regdump
    chmod 4750 /vendor/bin/baseband_regdump

    #pmu
    chown root radio /sys/devices/platform/mt-pmic/pmic_access_bank0
    chown root radio /sys/devices/platform/mt-pmic/pmic_access_bank1
    chown root radio /sys/devices/platform/mt6311-user/mt6311_access
    chown root radio /sys/devices/platform/mt-pmic/pmic_access
    chmod 0664 /sys/devices/platform/mt-pmic/pmic_access_bank0
    chmod 0664 /sys/devices/platform/mt-pmic/pmic_access_bank1
    chmod 0664 /sys/devices/platform/mt6311-user/mt6311_access
    chmod 0664 /sys/devices/platform/mt-pmic/pmic_access

    # EM CPU Speed Stress
    chown root radio /proc/cpu_ss/cpu_ss_debug_mode
    chown root radio /proc/cpu_ss/cpu_ss_mode
    chown root radio /proc/cpu_ss/cpu_ss_period
    chown root radio /proc/cpu_ss/cpu_ss_period_mode
    chmod 0664 /proc/cpu_ss/cpu_ss_debug_mode
    chmod 0664 /proc/cpu_ss/cpu_ss_mode
    chmod 0664 /proc/cpu_ss/cpu_ss_period
    chmod 0664 /proc/cpu_ss/cpu_ss_period_mode

    #EM eint
    chown root diag /sys/bus/platform/drivers/eint/current_eint

    # for ppp options file
    mkdir /data/misc/ppp 0770 bluetooth net_bt

    # Android SEC related device nodes
    chmod 0660 /dev/sec
    chown root system /dev/sec

    # FM Radio device node
    chmod 0660 /dev/fm
    chown media media /dev/fm

    # device apc settings

    # device info /proc interface
    chmod 0444 /dev/devmap
    chown root media /dev/devmap

    # bluetooth
    mkdir /data/@btmtk 0770 bluetooth net_bt
    chown bluetooth bluetooth /dev/hid-keyboard
    chmod 0660 /dev/hid-keyboard
    #Use uinput's default permission
    chown system net_bt_admin /dev/uinput

    # UIBC
    chown system media /dev/uibc
    chmod 0660 /dev/uibc

    #TV-out
    chmod 0664 /dev/TV-out

    #HDMI
    chown media system /dev/hdmitx
    chmod 0666 /dev/hdmitx

    # DRM: playready data and control dirs
    mkdir /data/vendor/playready 0770 drm drmrpc

    # JPEG
    #chmod 0444 /dev/mtk_jpeg

    # almk
    chmod 0440 /dev/mtk_almk

    # DISP
    chmod 0444 /dev/mtk_disp

    #VOW
    chmod 0640 /dev/vow
    chown media media /dev/vow

	#RRC
	chmod 0660 /dev/mtk_rrc
	chown system media /dev/mtk_rrc

    #Camera
    chmod 0660 /dev/camera-sysram
    chmod 0660 /dev/camera-isp
    chmod 0660 /dev/camera-fdvt
    chmod 0660 /dev/camera-pipemgr
    chmod 0660 /dev/kd_camera_hw
    chmod 0660 /dev/kd_camera_flashlight
    chmod 0660 /dev/kd_camera_hw_bus2
    chmod 0660 /dev/FM50AF
    chmod 0660 /dev/DW9718AF
    chmod 0660 /dev/CAM_CAL_DRV

    chown system camera /dev/camera-sysram
    chown system camera /dev/camera-isp
    chown system camera /dev/camera-fdvt
    chown system camera /dev/camera-pipemgr
    chown system camera /dev/kd_camera_hw
    chown system camera /dev/kd_camera_flashlight
    chown system camera /dev/kd_camera_hw_bus2
    chown system camera /dev/FM50AF
    chown system camera /dev/DW9718AF
    chown system camera /dev/CAM_CAL_DRV

    #MATV
    chmod 0660 /dev/MATV
    chown system media /dev/MATV

    # otg_test
    chown root radio /dev/mt_otg_test
    chmod 0660 /dev/mt_otg_test

    # MDP
    chmod 0660 /dev/mt-mdp
    chown system media /dev/mt-mdp

    # G2D
    chmod 0660 /dev/mtkg2d
    chown system media /dev/mtkg2d

    # SMI
    chmod 0660 /dev/MTK_SMI
    chown media media /dev/MTK_SMI

    #for eng mode
    chmod 0664 /dev/misc-sd

   #change partition permission

    chmod 0640 /mtd@sec_ro
    chown root system /mtd@sec_ro

    chmod 0640 /mtd@preloader
    chown root system /mtd@preloader

    chmod 0660 /mtd@pro_info
    chown root system /mtd@pro_info

    chmod 0640 /mtd@bootimg
    chown root system /mtd@bootimg

    chmod 0640 /mtd@recovery
    chown root system /mtd@recovery

    chmod 0660 /mtd@nvram
    chown root system /mtd@nvram

    chmod 0660 /mtd@seccfg
    chown root system /mtd@seccfg

    chmod 0660 /mtd@misc
    chown root system /mtd@misc

    chmod 0664 /sys/bus/platform/drivers/mem_bw_ctrl/concurrency_scenario
    chown media media /sys/bus/platform/drivers/mem_bw_ctrl/concurrency_scenario

    chmod 0664 /proc/mtk-gpu/bw_ultra
    chown media media /proc/mtk-gpu/bw_ultra	
	
    #mtk_sched
    chmod 0660 /dev/mtk_sched
    chown system media /dev/mtk_sched

    #BT SCO CVSD, for MT6572 and MT6582 CVSD codec on AP
    chmod 0660 /dev/ebc
    chown media media /dev/ebc

    chmod 0666 /dev/uio0

    #otp
    chmod 0660 /proc/driver/otp
    chown root system /proc/driver/otp

    #autok
    chown root system /sys/autok/debug
    chown root system /sys/autok/param_count
    chown root system /sys/autok/ready
    chown root system /sys/autok/ss_corner
    chown root system /sys/autok/suggest_vol
    chown root system /sys/autok/stage1/3/DONE
    chown root system /sys/autok/stage1/3/PARAMS
    chown root system /sys/autok/stage1/3/VOLTAGE
    chown root system /sys/autok/stage1/3/LOG
    chown root system /sys/autok/stage2/3

    #sn
    chmod 0664 /sys/class/android_usb/android0/iSerial
    chown root system /sys/class/android_usb/android0/iSerial
    chmod 0664 /sys/devices/platform/mt_usb/cmode
    chown root system /sys/devices/platform/mt_usb/cmode
	
    #usb
    chown system system /sys/class/android_usb/android0/f_acm/port_index
    chmod 0660 /sys/class/android_usb/android0/f_acm/port_index

    # secure memory
    chown system system /proc/secmem0

    #Thermal
    mkdir /data/vendor/.tp/ 0775 system system


# End of adding by MTK drivers
# -----------------------
    setprop vold.post_fs_data_done 1

on boot


    write /proc/sys/vm/dirty_writeback_centisecs 300
    chmod 0660 /sys/power/autosleep

    chmod 0664 /sys/class/leds/lcd-backlight/brightness

    chown system system /sys/devices/system/cpu/cpufreq/hotplug/cpu_num_base
    chmod 0660 /sys/devices/system/cpu/cpufreq/hotplug/cpu_num_base
    chown root   system /sys/kernel/debug/binder/transaction_log_enable
    chown root   system /sys/kernel/debug/binder/perf_evalue

    chown system /sys/module/mlog/parameters/do_mlog
    chown system /sys/module/mlog/parameters/timer_intval

    chown root   radio  /sys/class/leds/lcd-backlight/duty
    chown root   radio  /sys/class/leds/lcd-backlight/div
    chown system system /sys/class/leds/lcd-backlight/trigger
    chown system system /sys/class/leds/button-backlight/trigger
    chown system system /sys/class/leds/keyboard-backlight/trigger
    chown system system /sys/class/leds/jogball-backlight/trigger
    chown system system /sys/class/leds/red/trigger
    chown system system /sys/class/leds/green/trigger
    chown system system /sys/class/leds/blue/trigger

    # Permission for hibernation
    #chown radio system /sys/power/tuxonice
    #chown radio system /sys/power/tuxonice/do_hibernate
    #chmod 0770 /sys/power/tuxonice
    #chmod 0220 /sys/power/tuxonice/do_hibernate

# Smartbook Handler Framework
    chown system system /sys/power/sb_state
    chmod 0660 /sys/power/sb_state

# HMP CPU hotplug strategy
    chown system system /proc/hps/num_base_perf_serv
    chmod 0660 /proc/hps/num_base_perf_serv
    chown system system /proc/hps/num_limit_power_serv
    chmod 0660 /proc/hps/num_limit_power_serv

# cpu_loading
    chown system system /proc/cpu_loading/onoff
    chmod 0664 /proc/cpu_loading/onoff
    chown system system /proc/cpu_loading/overThrhld
    chmod 0664 /proc/cpu_loading/overThrhld
    chown system system /proc/cpu_loading/poltime_nsecs
    chmod 0664 /proc/cpu_loading/poltime_nsecs
    chown system system /proc/cpu_loading/poltime_secs
    chmod 0664 /proc/cpu_loading/poltime_secs
    chown system system /proc/cpu_loading/uevent_enable
    chmod 0664 /proc/cpu_loading/uevent_enable

# CPU freq
    chown system system /proc/cpufreq/cpufreq_limited_by_hevc
    chmod 0660 /proc/cpufreq/cpufreq_limited_by_hevc
    chown system system /proc/cpufreq/cpufreq_limited_max_freq_by_user
    chmod 0660 /proc/cpufreq/cpufreq_limited_max_freq_by_user

##Netlog tool
   #change permissions about terminal
    chown root radio /proc/net/vlan/config
    chmod 0640 /proc/net/vlan/config
    chown root radio /proc/net/ip6_tables_matches
    chown root radio /proc/net/ip6_tables_names
    chown root radio /proc/net/ip6_tables_targets
    chown root radio /proc/net/arp_tables_targets
    chown root radio /proc/net/arp_tables_matches
    chown root radio /proc/net/arp_tables_names
    chown root radio /proc/net/ip_tables_targets
    chown root radio /proc/net/ip_tables_matches
    chown root radio /proc/net/ip_tables_names
    chown root radio /proc/net/ip_conntrack_expect
    chown root radio /proc/net/ip_conntrack
    chown root radio /proc/net/nf_conntrack
    chown root radio /proc/net/nf_conntrack_expect
    chown root radio /proc/net/netfilter/nfnetlink_log
    chown root radio /proc/net/netfilter/nfnetlink_queue

# WMT proc
    chown shell system /proc/driver/wmt_dbg
    chown shell system /proc/driver/wmt_aee

#Define device for ATCID
#    chmod 0660 /dev/ttyGS0
#    chown system /dev/ttyGS0
#    chmod 0660 /dev/ttyGS1
#    chown system /dev/ttyGS1

# define device for EMCSMDLOGGER
#    chmod 0660 /dev/ttyGS3
#    chown system radio /dev/ttyGS3

# Set rx windows to 1.28M for 4k applications
    write /proc/sys/net/core/rmem_max 1310720

on property:vold.decrypt=trigger_reset_main
    write /proc/bootprof "INIT:vold.decrypt=trigger_reset_main"
    setprop sys.boot_completed 0
    setprop dev.bootcomplete 0

on property:vold.decrypt=trigger_post_fs_data
    write /proc/bootprof "INIT:vold.decrypt=trigger_post_fs_data"

on property:vold.decrypt=trigger_restart_min_framework
    write /proc/bootprof "INIT:vold.decrypt=trigger_restart_min_framework"
    start nvram_daemon
    start msensord
    start permission_check

on property:vold.decrypt=trigger_restart_framework
    write /proc/bootprof "INIT:vold.decrypt=trigger_restart_framework"
    start nvram_daemon
    start msensord
    start permission_check

on property:vold.decrypt=trigger_shutdown_framework
    write /proc/bootprof "INIT:vold.decrypt=trigger_shutdown_framework"
    setprop sys.boot_completed 0
    setprop dev.bootcomplete 0

# Set enableflags for boot Systrace
on early-init && property:ro.boot.boot_trace=1
    setprop debug.atrace.tags.enableflags 0x1fffffe

## mtk printk uart controller
on property:persist.vendor.uartconsole.enable=1
    write /proc/mtprintk 1

on property:dev.bootcomplete=1
    write /sys/power/pm_print_times 0

#stop bootprof
on property:sys.boot_completed=1
    write /proc/bootprof 0

# bugreport is triggered by holding down volume down, volume up and power
service bugreport /system/bin/dumpstate -d -p -B -z \
        -o /data/user_de/0/com.android.shell/files/bugreports/bugreport
    class late_start
    disabled
    oneshot
    keycodes 114 115 116


#
# MTK Wi-Fi related services (Begin)
#

# monitor property and power on/off wlan
on property:wlan.driver.status=ok
    write /dev/wmtWifi "1"

on property:wlan.driver.status=unloaded
    write /dev/wmtWifi "0"


# write proc for test sim
#    on property:gsm.sim.ril.testsim=0
#    write /proc/sys/net/netfilter/nf_conntrack_tcp_no_window_check 0
#    write /proc/sys/net/ipv4/tcp_rto_min 200
#    on property:gsm.sim.ril.testsim=1
#    write /proc/sys/net/netfilter/nf_conntrack_tcp_no_window_check 1
#    write /proc/sys/net/ipv4/tcp_rto_min 400
#    on property:gsm.sim.ril.testsim.2=0
#    write /proc/sys/net/netfilter/nf_conntrack_tcp_no_window_check 0
#    write /proc/sys/net/ipv4/tcp_rto_min 200
#    on property:gsm.sim.ril.testsim.2=1
#    write /proc/sys/net/netfilter/nf_conntrack_tcp_no_window_check 1
#    write /proc/sys/net/ipv4/tcp_rto_min 400
#    on property:gsm.sim.ril.testsim.3=0
#    write /proc/sys/net/netfilter/nf_conntrack_tcp_no_window_check 0
#    write /proc/sys/net/ipv4/tcp_rto_min 200
#    on property:gsm.sim.ril.testsim.3=1
#    write /proc/sys/net/netfilter/nf_conntrack_tcp_no_window_check 1
#    write /proc/sys/net/ipv4/tcp_rto_min 400
#    on property:gsm.sim.ril.testsim.4=0
#    write /proc/sys/net/netfilter/nf_conntrack_tcp_no_window_check 0
#    write /proc/sys/net/ipv4/tcp_rto_min 200
#    on property:gsm.sim.ril.testsim.4=1
#    write /proc/sys/net/netfilter/nf_conntrack_tcp_no_window_check 1
#    write /proc/sys/net/ipv4/tcp_rto_min 400

# open /dev/watchdog
service watchdogd /sbin/watchdogd  20 10
    class core
    seclabel u:r:watchdogd:s0

service bluetoothd /system/bin/bluetoothd -n
    class main
    socket bluetooth stream 660 bluetooth bluetooth
    socket dbus_bluetooth stream 660 bluetooth bluetooth
    # init.rc does not yet support applying capabilities, so run as root and
    # let bluetoothd drop uid to bluetooth with the right linux capabilities
    group bluetooth net_bt_admin misc
    disabled

#service dpfd /vendor/bin/dpfd
#	user root
#	group system media

#
#  External Modme control related services
#

#
#  Modem related services (Begin)
#
##Add by T.Zh for ppp daemon
#service pppd /vendor/bin/pppd file /data/misc/ppp/ppp_options
#    user root
#    disabled
#    oneshot
#
##
#
#  Modem related services (End)
#

#add for power-off alarm
#service poad /vendor/bin/poad
#    class main
#    user system
#    group system
#    oneshot

#service BGW /vendor/xbin/BGW
#	user system
#	group gps system radio
#	class main

# Program binary service
service program_binary /vendor/bin/program_binary_service
    class late_start
    user system
    group graphics
    oneshot


service XoSetCap /vendor/bin/XoSetCap
    user root
    group system
    oneshot

on property:vendor.service.nvram_init=Ready
    start XoSetCap

# service to populate readonly property
service devcfg /vendor/bin/devcfg.sh
    class main
    group system
    oneshot
    disabled
    seclabel u:r:devcfg:s0

    # add a cpuset for the camera daemon
    # we want all cores for camera
    mkdir /dev/cpuset/camera-daemon
    write /dev/cpuset/camera-daemon/cpus 0-3
    write /dev/cpuset/camera-daemon/mems 0
    chown system system /dev/cpuset/camera-daemon
    chown system system /dev/cpuset/camera-daemon/tasks
    chmod 0664 /dev/cpuset/camera-daemon/tasks
